<aside class="panel log-panel">
  <% entries = chronicle_entries(@game_session) %>
  <h2>Chronicle</h2>
  <div class="event-log-scroll">
    <ul class="event-log">
      <% entries.each do |entry| %>
        <%= render Chronicle::EntryComponent.new(entry: entry) %>
      <% end %>
    </ul>
  </div>
</aside>
